<section class="hero-image">
  <div class="hero-image__copy">
    <h1>Lets make the internet great</h1>
    <h3>I create products that impact</br> the way people experience the online world.</h3>
    <button>Contact</button>
  </div>
</section>
<section class="about-section">
  <h1 class="title">About</h1>
  <h3>Hello, my name is Carlos Ferreira. I’m Web Developer with two years experience.</br>
    I live in Toronto, but I worked and still working with people all around the world. 
    Take your time, check my resume, see my skills, some of my projects, my experience, 
    and when you are ready drop me a message.
  </h3>
  <div class="about-section__icons">
    <div class="about-section--block">
      <img alt="Dialogue icon" src="/assets/question.svg" />
      <h4>Feedback Culture</h4>
      <p>I like to give you feedback and 
         suggest how make a project better. 
         I also like and encorage you to 
         tell me how to improve the way 
         we work together.
      </p>
    </div>
    <div class="about-section--block">
      <img alt="Hourglass icon" src="/assets/hourglass.svg" />
      <h4>On time, on bugdet</h4>
      <p>With me you’ll never worry if the work
        will be done on time. My experience
        let us plan the project to be done by
        the time you need it.
      </p>
    </div>
    <div class="about-section--block">
      <img alt="Call icon" src="/assets/support.svg" />
      <h4>Smooth Communication</h4>
      <p>I’m the person who contact the clients
         and I’m easy to communicate. I speak English,
         Portuguese & some Spanish.
      </p>
    </div>
  </div>
</section>
<section class="expertise-section">
  <h1 class="title">Expertise</h1>
  <div class="expertise-section__icons">
    <img alt="html icon" src="/assets/expertise_html.svg" />
    <img alt="css icon" src="/assets/expertise_css.svg" />
    <img alt="js icon" src="/assets/expertise_js.svg" />
    <img alt="react icon" src="/assets/expertise_react.svg" />
    <img alt="ruby icon" src="/assets/expertise_ruby.svg" />
    <img alt="rails icon" src="/assets/expertise_rails.svg" />
  </div>
  <div class="expertise-section__icons">
    <img alt="bootstrap icon" src="/assets/expertise_bootstrap.svg" />
    <img alt="github icon" src="/assets/expertise_github.svg" />
    <img alt="sass icon" src="/assets/expertise_sass.svg" />
    <img alt="scketch icon" src="/assets/expertise_scketch.svg" />
  </div>
</section>

<section class="portfolio-section">
  <h1 class="title">Portfolio</h1>
</section>
