<div class="resume-section text-center">
  <h1>Resume</h1>
  
  <div class="">
    <%= image_tag("resume.jpg", :alt => "Resume - Carlos Ferreira") %>
  </div>

  <%= link_to 'Download Resume', root_url+'resume.jpg', { target: '_blank' } %>
</div>
