<div class="resume-section text-center">
  <h1>Resume</h1>
  
  <div class="">
    <%= image_tag("resume.svg", :alt => "Resume - Carlos Ferreira") %>
  </div>
  
  <%= link_to "Download Resume", "/resume.pdf", class: "resume-section__button", :target => "blank" %>
</div>
