<div class="resume-section text-center">
  <h1>Resume</h1>
  
  <div class="">
    <img alt="resume - Carlos Ferreira" src="https://s3.ca-central-1.amazonaws.com/pineappleapplication/resume.svg" />
  </div>
  
  <%= link_to "Download Resume", "https://s3.ca-central-1.amazonaws.com/pineappleapplication/Resume.pdf", class: "resume-section__button", :target => "blank" %>
</div>
