<div class="text-center">
  <h1>Resources</h1>
  
  <table>
    <tr>
      <th>Name</th>
      <th>Description</th>
    </tr>

    <% @resource.each do |resource| %>
      <tr>
        <td><%= resource.name %></td>
        <td><%= resource.description %></td>
      </tr>
    <% end %>
  </table>

  <%= link_to "Add New Resource", new_resource_path, class: "btn btn-danger" %>
</div>

